<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-06-28T03:43:07Z</date>
	<key>WorkspacePath</key>
	<string>/Users/vjp/Developer/Risk/Risk.xcodeproj</string>
</dict>
</plist>
